<p>style-sheet works!</p>
<div *ngFor="let c of courses">

    <!-- {{c}} -->
    <div>The code that renders {{c}}</div>
    </div>
    
    <br><br>
    
    <h3>Trainee Details</h3>
    <table border="1" >
        <th [ngStyle]="{color:colors, 'background-color': bgcolor, 'font-size': fontsize1}">First Name</th>
        <th [ngStyle]="{color:colors, 'background-color': bgcolor, 'font-size': fontsize1}">Last Name</th>
        <th [ngStyle]="{color:colors, 'background-color': bgcolor, 'font-size': fontsize1}">Marks</th>
        <tr *ngFor="let t of trainees">
           <td>{{t.firstName}}</td> 
            <td>{{t.lastName}}</td>
            <td>{{t.marks}}</td>
        </tr>
    </table>